{% extends 'base.html' %} 
{% load tailwind_filters %}
{% block content %}
<div class="max-w-lg mx-auto">
    <form method="POST">
        {% csrf_token %}
        {{  form |crispy }}
        <div class="max-w-prose mx-auto">
            <button type='submit' class="w-full text-white bg-blue-500 hover:bg-blue-400 px-3 py-2 rounded-md"  >Sign Up</button>
        </div>    
    </form>
    <div class="py-5 border-t border-gray-200 mt-5">
        <a class="hover:text-blue-500" href="{% url 'login' %}">Already have an account?</a>
    </div>
</div>
{% endblock content %}